.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(25,23,60);
    background: linear-gradient(32deg, rgba(25,23,60,1) 0%, rgba(114,114,172,1) 63%, rgba(119,196,170,1) 100%);
  }
  
  .form-signin {
    width: 100%;
    max-width: 30vw;
    padding: 15px;
    margin: auto;
    background-color: #485251;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgb(0 0 0);
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-floating{
    margin: 1rem;
  }.form-control{
    background-color: rgba(46, 95, 95, 0.336);
    border: 1px solid rgb(120, 136, 127);
  }    

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .btn-primary{
    background-color: #36a882;
    border: none;
  }.btn-primary:hover{
    background-color: rgb(250, 244, 244);
    color: black;
    transition: 0.5s;
    border: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
